In [17]:
import sqlite3

conn = sqlite3.connect('banking_system.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS accounts (
    id INTEGER PRIMARY KEY,
    name TEXT,
    balance REAL
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS transactions (
    id INTEGER PRIMARY KEY,
    account_id INTEGER,
    amount REAL,
    transaction_type TEXT,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (account_id) REFERENCES accounts(id)
)
''')

conn.commit()

def create_account(name, balance = 0.0):
    cursor.execute('''
    INSERT INTO accounts (name, balance)
    VALUES (?, ?)
    ''', (name, balance))
    conn.commit()
    print(f"\nAccount for {name} created successfully!")

def get_account(id):
    cursor.execute('SELECT * FROM accounts WHERE id = ?', (id,))
    account = cursor.fetchone()
    if account:
        print(f"\nAccount ID: {account[0]}, Name: {account[1]}, Balance: {account[2]}")
    else:
        print(f"\nNo account found with ID {id}")

def get_all_accounts():
    cursor.execute('SELECT * FROM accounts')
    account = cursor.fetchall()
    print("\nAll Accounts:")
    for i in account:
        print(f"Account ID: {i[0]}, Name: {i[1]}, Balance: {i[2]}")

def withdraw_money(id, amount):
    cursor.execute('SELECT balance FROM accounts WHERE id = ?', (id,))
    current_balance = cursor.fetchone()[0]
    if current_balance >= amount:
        new_balance = current_balance - amount
        cursor.execute('''
        UPDATE accounts SET balance = ? WHERE id = ?
        ''', (new_balance, id))
        cursor.execute('''
        INSERT INTO transactions (account_id, amount, transaction_type)
        VALUES (?, ?, ?)
        ''', (id, amount, 'withdraw'))
        conn.commit()
        print(f"\nWithdrew ${amount}. New balance: ${new_balance}")
    else:
        print("\nInsufficient amount!")

def deposit_money(id, amount):
    cursor.execute('SELECT balance FROM accounts WHERE id = ?', (id,))
    current_balance = cursor.fetchone()[0]
    new_balance = current_balance + amount
    cursor.execute('''
    UPDATE accounts SET balance = ? WHERE id = ?
    ''', (new_balance, id))
    cursor.execute('''
    INSERT INTO transactions (account_id, amount, transaction_type)
    VALUES (?, ?, ?)
    ''', (id, amount, 'deposit'))
    conn.commit()
    print(f"\nDeposited ${amount}. New balance: ${new_balance}")

def show_transactions(id):
    cursor.execute('SELECT * FROM transactions WHERE account_id = ?', (id,))
    transactions = cursor.fetchall()
    print("\nTransactions:")
    for transaction in transactions:
        print(f"Transaction ID: {transaction[0]}, Account ID: {transaction[1]}, Amount: {transaction[2]}, Type: {transaction[3]}, Timestamp: {transaction[4]}")

def delete_account(id):
    cursor.execute('DELETE FROM accounts WHERE id = ?', (id,))
    cursor.execute('DELETE FROM transactions WHERE account_id = ?', (id,))
    conn.commit()
    print(f"\nAccount with ID {id} deleted successfully!")

def clear_database():
    cursor.execute('DELETE FROM accounts')
    cursor.execute('DELETE FROM transactions')
    conn.commit()
    print("\nDatabase cleared successfully!")

In [18]:
def main():
    while True:
        print("\nBanking System Menu:")
        print("1. Create Account")
        print("2. Get Account Details")
        print("3. Get All Accounts")
        print("4. Withdraw Money")
        print("5. Deposit Money")
        print("6. Delete Account")
        print("7. Clear Database")
        print("8. Show Transactions")
        print("9. Exit")

        choice = input("Enter your choice: ")

        if choice == '1':
            name = input("Enter account name: ")
            balance = float(input("Enter initial balance: "))
            create_account(name, balance)
        elif choice == '2':
            id = int(input("Enter account ID: "))
            get_account(id)
        elif choice == '3':
            get_all_accounts()
        elif choice == '4':
            id = int(input("Enter account ID: "))
            amount = float(input("Enter withdrawal amount: "))
            withdraw_money(id, amount)
        elif choice == '5':
            id = int(input("Enter account ID: "))
            amount = float(input("Enter deposit amount: "))
            deposit_money(id, amount)
        elif choice == '6':
            id = int(input("Enter account ID to delete: "))
            delete_account(id)
        elif choice == '7':
            clear_database()
        elif choice == '8':
            id = int(input("Enter account ID to show transactions: "))
            show_transactions(id)
        elif choice == '9':
            print("\nExiting the program.")
            break
        else:
            print("\nInvalid choice. Please try again.")

if __name__ == "__main__":
    main()

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 1
Enter account name: Rakshit Vaja
Enter initial balance: 3000

Account for Rakshit Vaja created successfully!

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 1
Enter account name: Jishnu N M
Enter initial balance: 4000

Account for Jishnu N M created successfully!

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 1
Enter account name: Aditi Donode
Enter initial balance: 5000

Account for Aditi Donode created successfully!

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 2
Enter account ID: 2

Account ID: 2, Name: Jishnu N M, Balance: 4000.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 3

All Accounts:
Account ID: 1, Name: Rakshit Vaja, Balance: 3000.0
Account ID: 2, Name: Jishnu N M, Balance: 4000.0
Account ID: 3, Name: Aditi Donode, Balance: 5000.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 4
Enter account ID: 2
Enter withdrawal amount: 1500

Withdrew $1500.0. New balance: $2500.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 5
Enter account ID: 1
Enter deposit amount: 1500

Deposited $1500.0. New balance: $4500.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 1

Transactions:
Transaction ID: 2, Account ID: 1, Amount: 1500.0, Type: deposit, Timestamp: 2025-01-29 11:10:09

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 2

Transactions:
Transaction ID: 1, Account ID: 2, Amount: 1500.0, Type: withdraw, Timestamp: 2025-01-29 11:09:50

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 3

Transactions:

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 4
Enter account ID: 3
Enter withdrawal amount: 600

Withdrew $600.0. New balance: $4400.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 5
Enter account ID: 1
Enter deposit amount: 550

Deposited $550.0. New balance: $5050.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 5
Enter account ID: 2
Enter deposit amount: 1100

Deposited $1100.0. New balance: $3600.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 4
Enter account ID: 2
Enter withdrawal amount: 440

Withdrew $440.0. New balance: $3160.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 3

Transactions:
Transaction ID: 3, Account ID: 3, Amount: 600.0, Type: withdraw, Timestamp: 2025-01-29 11:11:26

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 2

Transactions:
Transaction ID: 1, Account ID: 2, Amount: 1500.0, Type: withdraw, Timestamp: 2025-01-29 11:09:50
Transaction ID: 5, Account ID: 2, Amount: 1100.0, Type: deposit, Timestamp: 2025-01-29 11:12:06
Transaction ID: 6, Account ID: 2, Amount: 440.0, Type: withdraw, Timestamp: 2025-01-29 11:12:29

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 8
Enter account ID to show transactions: 1

Transactions:
Transaction ID: 2, Account ID: 1, Amount: 1500.0, Type: deposit, Timestamp: 2025-01-29 11:10:09
Transaction ID: 4, Account ID: 1, Amount: 550.0, Type: deposit, Timestamp: 2025-01-29 11:11:39

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 3

All Accounts:
Account ID: 1, Name: Rakshit Vaja, Balance: 5050.0
Account ID: 2, Name: Jishnu N M, Balance: 3160.0
Account ID: 3, Name: Aditi Donode, Balance: 4400.0

Banking System Menu:
1. Create Account
2. Get Account Details
3. Get All Accounts
4. Withdraw Money
5. Deposit Money
6. Delete Account
7. Clear Database
8. Show Transactions
9. Exit
Enter your choice: 9

Exiting the program.